/* My Style */
/* global */
p, ul, ol, div, td, span, table, body { font-family: Arial, helvetica, sans-serif; font-size: 12px; color: #222222; }
p { margin: 0px; padding: 0px; }

/* body */
body { background-color: #ffffff; margin: 0px; }

/* table */
table { border: 0px; border-collapse: collapse; }
/* cellspacing & cellpadding & border =0 no longer needed
td 					{ padding:0px; margin:0px; }

/* scrollbars */
/* body, textarea 		{ scrollbar-base-color:#BBBBBB; scrollbar-3dlight-color:#FFFFFF; scrollbar-arrow-color:#007F9F; scrollbar-darkshadow-color:#999999; scrollbar-face-color:#D5D5D5; scrollbar-highlight-color:#FFFFFF; scrollbar-shadow-color:#636363; scrollbar-track-color:#F5F5F5; } */

/* links */
a:link { color: #CC3300; text-decoration: none; font-weight: bold; }
a:visited { color: #CC3300; text-decoration: none; font-weight: bold; }
a:active { color: #FF3300; font-weight: bold; }
a:hover { color: #FF3300; text-decoration: underline; font-weight: bold; }

/* fonts */
h1 { font-size: 12px; font-weight: bold; margin-bottom: 0px;}
.medium { font-size: 11px; }
.small { font-size: 10px; }

/* colors */
.fontcolor { color: #555555; }
.white { color: #ffffff; }

/* bgcolors */
.body { background-color: #FFFFFF; }
.divider { background-color: #555555; }
.outline { background-color: #999999; }
.menubg { background-color: #F1F1F1; }

.brightbg { background-color: #E5E5E5; }
.verybrightbg { background-color: #F1F1F1; }
.reallybrightbg { background-color: #FAFAFA; }


.whitebg { background-color: #FFFFFF; }
.blackbg { background-color: #000000; }
.brownbg { background-color: #E1D8D1; }

/* forms */
.registerinput { width: 100%; font-size: 10px; }
.registersubmit { font-size: 10px; }
.logininput { width: 100%; font-size: 10px; }
.loginsubmit { width: 100%; font-size: 10px; }

/* forms */
.input { font-size: 11px; background-color: #FFECD3; height: 17px; border: 1px solid #C85424; }
.submitsagen { font-size: 11px; font-weight: bold; color: #000000; padding-bottom: 2px; width: 80px; height: 17px; margin-left: 2px; margin-right: 2px; border: thin #777777 solid; border-width: 1px; background-image: url(https://cdn.jsdelivr.net/gh/JonUserStyle/styles_public@main/images/button_bg2.jpg); }
.submitschreien { font-size: 11px; font-weight: bold; color: #004DA7; padding-bottom: 2px; width: 87px; height: 17px; margin-right: 2px; border: thin #777777 solid; border-width: 1px; background-image: url(images/button_bg2.jpg); }
.submitclan { font-size: 11px; font-weight: bold; color: #D20000; padding-bottom: 2px; width: 80px; height: 17px; margin-right: 2px; border: thin #777777 solid; border-width: 1px; background-image: url(images/button_bg2.jpg); }
.submitworldsay { font-size: 11px; font-weight: bold; color: #000000; padding-bottom: 2px; width: 80px; height: 17px; margin-right: 2px; border: thin #777777 solid; border-width: 1px; background-image: url(images/button_bg2.jpg); }
.submitgroup { font-size: 11px; font-weight: bold; color: #E36B30; padding-bottom: 2px; width: 80px; height: 17px; margin-right: 2px; border: thin #777777 solid; border-width: 1px; background-image: url(images/button_bg2.jpg); }
.submitwhisper { font-size: 11px; font-weight: bold; color: #006600; padding-bottom: 2px; width: 88px; height: 17px; margin-right: 2px; border: thin #777777 solid; border-width: 1px; background-image: url(images/button_bg2.jpg); }

textarea { font-size: 12px; background-color: #FFECD3; border: 1px solid #C85424; }
select { font-size: 11px; background-color: #DBEBEF; }


/* banner stuff */
.bannerad { border: 1px solid #C85424; }


/* text classes */
.chattext { color: #000000; font-size: 13px; }
.chattextscream { color: #004DA7; font-size: 13px; }
.chattextclan { color: #D20000; font-size: 13px; }
.chattextgroup { color:#CE5A21; font-size:13px; }
.chattextinfo { color: #A37300; font-size: 13px; }
.chattextworldsay { color: #000000; background-color: #C1CEF9; font-size: 13px; }
.chattextwhisper { color: #006600; font-size: 13px; }
.chattextmod { color: #9A1085; font-size: 13px; }
.healthmed { color: #FF8000; }
.healthok { color: #309000; }
.healthcritical { color: #D20000; }
.chatpics { visibility: visible; }

/* frames bg */
.framebannerbg { background-color: #C85424; background-image: url(https://cdn.jsdelivr.net/gh/JonUserStyle/styles_public@main/images/bannerbg.jpg); border-bottom: 1px solid #000000; }
.framechatformbg { background-color: #E7E7E7; }
.framechattextbg { background-color: #F8F8F8; margin: 10px; margin-top: 5px; margin-bottom: 5px; margin-right: 5px; }
.framemainbg { margin: 10px; background-image: url(images/mainbg.jpg); background-repeat: repeat-y; background-position: right; }
.frameitembg { margin: 10px; background-color: #DCDCDC; background-image: url(images/itembg.jpg); }
.framemapbg { margin: 10px; margin-top: 3px; background-color: #C1BDBA; background-image: url(images/itembg.jpg); }
.framemenubg { background-color: #C1BDBA; background-image: url(images/itembg.jpg); }

.framebannerbg .bannermodquickbar { background: transparent; }

/* main module */
td.mainheader { font-size: 35px; background-image: url(images/headerbg.jpg); }
table.areadescription { border: 1px solid #FFDAA9; background-color: #FFF8EF; width: 100%; }
td.areadescription { padding: 5px; }
.imageborder { border: 1px solid #C85424; background-color: #C85424; margin-right: 10px; margin-bottom: 1px;}
p.maincaption { font-weight: bold; font-size: 30px; padding: 2px; padding-left: 5px; background-image: url(images/headerbg.jpg); }
p.maincaption2 { font-weight: bold; font-size: 12px; padding: 2px; padding-left: 5px; background-image: url(images/bluebg.jpg); }
p.maindesc1 { padding: 2px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 1px; width: 300px; }
p.maindesc2 { border: 1px solid #FFDAA9; background-color: #FFF8EF; width: 100%; }
p.listplaceitemsrow { padding: 2px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 0px; }
p.listusersrow { padding: 2px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 0px; }

/* item module */
p.listcaption { border: 1px solid #A2A09F; font-weight: bold; padding: 2px; padding-left: 5px; background-image: url(images/button_bg.jpg); }
p.listsubcaption { border-bottom: 1px solid #D6CBC2; }
p.listrow { padding: 2px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 0px; }
p.listrow_padding { padding-top: 0.3em; padding-bottom: 0.3em; }
p.listitemrow { padding: 2px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 0px; border-top: 1px solid #D6CBC2; margin-bottom: 3px; }
p.listmainrow { padding: 2px; min-height: 55px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 0px; }
p.listplaceitemsrow { padding: 2px; padding-left: 5px; background-color: #ECE9E6; border: 1px solid #D6CBC2; border-top: 0px; }
.valueincreased { font-weight: bold; color: #ff0000; }
.itemamount { font-weight: bold; color: #751700; }
.itemequipped { font-weight: bold; color: #ff0000; }
.itemmagic { font-weight: bold; color: #008800; }
.iteminventorypics { visibility: visible; }

/* map module */
p.positiontext { background-color: #BBBBBB; border: 1px solid #555555; color: #000000; font-size: 10px; margin-left: 0px; margin-right: 0px; margin-bottom: 3px; padding-left: 0px; padding-right: 0px; width: 100%; }

/* main module */
p.personlistcaption { border: 1px solid #A2A09F; font-weight: bold; padding: 2px; padding-left: 5px; background-image: url(images/buttonblue_bg.jpg); }
p.itemlistcaption { border: 1px solid #A2A09F; font-weight: bold; padding: 2px; padding-left: 5px; background-image: url(images/buttonorange_bg.jpg); }


/* misc */
.borderbg { background-color: #D0CFCF; }

img.nocango {background: transparent;}
a.nocango {background: #transparent; height: 50px; width: 50px; border-width: 0; display: block;}
a.nocango:hover {background: url(images/map/nocango.gif) top left no-repeat; cursor: default;}

.abilitymenu { border: 0px; border-collapse: collapse; }
.abilitymenu tr { padding: 2px; padding-left: 5px; background-color: #ECE9E6; }
.abilitymenu td {text-align: right; padding: 2px; padding-left: 5px; border: 1px solid #D6CBC2; }
td.c1 {text-align: left;}
.bold td {font-weight: bold;}

#plantrow { border: 1px solid #A2A09F; font-weight: bold; padding: 2px; padding-left: 5px; background-image: url(images/buttongreen_bg.jpg); }
.aggressivenpc { font-weight: bold; color: #FF0000; }
.friendlist { border-collapse: collapse; }
.friendlist tr { background-color: #ECE9E6; }
.friendlist td {padding: 3px; border-bottom: 1px solid #D6CBC2; }

/* Profil */
legend {
  background-color:#FFFFFF;
  border:solid #000000 1px;
  color:#000000;
}
fieldset {
  background-color:#FFFFFF;
  border:0px;
  color:#000000;
}

/* Für den Button */
.submitgroup { 
  font-size:10px; 
  font-weight:bold; 
  color:#E36B30; 
  width:80px; 
  margin-right:2px; 
}

/* Hintergrund */
p.worldsay table tr {
  background-color:#FFBF00; 
}
/* Schriftfarbe */
p.worldsay table tr td {
  color:#000000;
}

.submitwhisper { font-size: 10px; font-weight: bold; color: #006600; width: 88px; margin-left: 1px; margin-right: 2px; }
.chattextwhisper { color: #006600; font-size: 13px; }
